%div
  %h5 Hello Stimulus
  = render 'hello'

%div
  %h5 Building Something Real
  = render 'building_something_real'

%div
  %h5 Building a Slideshow - 1
  = render 'building_slide_show'

%div
  %h5 Building a Slideshow - 2
  = render 'building_slide_show'

%div
  %h5 Asynchronously Loading HTML
  = render 'asynchronously_loading_html'
